/* Blog Layout Styles */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  
  .header {
    background-color: var(--black);
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blackBlack);
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .post-title {
    background-color: var(--grayblack);
    color: var(--gold);
    padding: 1.5rem;
    font-size: 2rem;
    margin: 0;
  }

  .blog-post-wrapper {
    width: 100%;
    max-width: 900px;
    background-color: var(--grayblack);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--black);
  }
  

  .post-content {
    width: 99%;
    padding: 2rem;
    background-color: var(--white);
    font-size: 1rem;
    line-height: 1.8;
    border-radius: 8px;
    text-align: justify;
  }

  p {
    color: var(--blackBlack);
    font-size: 0.75rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .footer {
    background-color: var(--black); 
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
  